*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    background: linear-gradient(90deg, rgb(211, 66, 37),white, rgb(76, 213, 71));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size: 45px;
    font-weight: 600;
    color: rgb(31, 31, 108);
    margin-top: -60px;
    margin-bottom: 60px;
}
.hero span {
    color: rgb(33, 77, 128);
    font-weight: 800;
}
textarea{
    width: 600px;
    height: 250px;
    background: linear-gradient(135deg, rgb(235, 125, 105),rgba(169, 167, 167, 0.397),  rgb(91, 176, 91));
    color: rgb(12, 5, 54);
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    color: rgb(12, 5, 54);
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: rgb(31, 31, 108);
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1;
    color: white;
    background:rgb(31, 31, 108);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}